#friends-display__link {
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}

#friends-display__link i {
  color: #d5d5d5;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
